.centered-img {
  display: block;
  margin: 0 auto;
}

img.h-150 {
  height: 150px;
}

img.h-200 {
  height: 200px;
}

img.h-300 {
  height: 300px;
}

img.h-400 {
  height: 400px;
}

img.h-500 {
  height: 500px;
}

.md-header__button.md-logo {
  margin: 0 0 0 0.6rem;
  padding: 0;
}

.md-header__button.md-logo img, .md-header__button.md-logo png {
  height: 2rem;
  width: 2rem;
}
